* {
    box-sizing: border-box;
  }
.App{
    position:relative;
    display:flex;
    width: 1488px;
    height:1754px;
    background-color: burlywood;
    border:red;
}
.Outils{
    position: relative;
    display: grid;
    grid-template-rows: repeat(5,50px);
    
    
    width: 248px;
    height:1754px;
    background-color: rgb(62, 50, 226);
    border:red;
}
.Entete{
    position: relative;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    font-size: xx-large;
    background-color: rgb(4, 94, 16);
    width: 1240px;
    height: 15%;
    border-width: 10px;
    border-color: brown;
}

.coordonnees{
    position: relative;
    display: grid;
    grid-template-columns: auto auto;

}

.coordonnees > label{
    font-style: italic;
    font-size:small;
}
.coordonnees > input{
    font-style:oblique;
    font-size:medium;
    background-color:inherit;
    

}
.titreCV{
    position: relative;
    text-align: center;
    top: 30%;
}


.corpsCV{
    display: grid;
    width:1240px;
    grid-template-columns: 75% 25%;
}
.formation, .experiences, .realisations, .langues, .profil{
    
    display: block;
    padding:20px;
    margin:5px ;
    height:auto;
    background-color: rgb(17, 148, 141);
    border:red;

}

.divers{
    display: flex;
    padding:20px;
    margin:5px ;
    height:auto;
    background-color: rgb(17, 148, 141);
    border:red;

}

