* {
    box-sizing: border-box;
  }
.App{
    position:relative;
    display:flex;
    width: 1488px;
    height:1754px;
    background-color: burlywood;
    border:red;
}
.Outils{
    position: relative;
    display: grid;
    grid-template-rows: repeat(5,50px);
    
    
    width: 248px;
    height:1754px;
    background-color: rgb(62, 50, 226);
    border:red;
}
.Entete{
    position: relative;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    font-size: xx-large;
    background-color: rgb(4, 94, 16);
    width: 1240px;
    height: 15%;
    border-width: 10px double black;
    border-color: brown;
}

.coordonnees{
    position: relative;
    display: grid;
    grid-template-columns: auto auto;

}

.coordonnees > label{
    font-style: italic;
    font-size:small;
}
.coordonnees > input{
    font-style:oblique;
    font-size:medium;
    background-color:inherit;
    

}
.titreCV{
    position: relative;
    text-align: center;
    top: 30%;
    width: 60%;
    left: 20%;
    font-size: xx-large;
    font-style: italic;
    font-weight:bolder;
    background-color: transparent;
}


.corpsCV{
    display: grid;
    width:1240px;
    grid-template-columns: 75% 25%;
}
.formation, .experiences, .realisations, .langues, .profil{
    
    display:grid;
    padding:20px;
    margin:5px ;
    height:auto;
    background-color: rgb(17, 148, 141);
    border:red;

}

.divers{
    display: flex;
    padding:20px;
    margin:5px ;
    height:auto;
    background-color: rgb(17, 148, 141);
    border:red;

}
.myFormation{
    position: relative;
    display: list-item;
    padding-left: 15px;
    padding-top: 10px;
    margin: 5px;
   
}
.dateDebut{
    grid-area: dateDebut;
} 
.dateFin{
    grid-area: dateFin;
} 
.specialite{
    grid-area: specialite;
} 
.diplome{
    grid-area: diplome;
} 
.organisme{
    grid-area: organisme;
} 
.ville{
    grid-area: ville;
}
   


.uneFormation{
    position: relative;
    display: grid;
    grid-template: 
    'dateDebut dateFin organisme organisme organisme ville'
    'diplome diplome diplome specialite specialite specialite';
    padding-bottom: 20px;

}

.myExperience{
    position: relative;
    display: list-item;
    padding-left: 15px;
    padding-top: 10px;
    margin: 5px;
   
}

.dateDebutE{
    grid-area: dateDebutE;
} 
.dateFinE{
    grid-area: dateFinE;
} 
.mission{
    grid-area: mission;
} 
.fonction{
    grid-area: fonction;
} 
.entreprise{
    grid-area: entreprise;
} 
.villeE{
    grid-area: villeE;
}

.uneExperience{
    position: relative;
    display: grid;
    grid-template: 
    'dateDebutE dateFinE entreprise entreprise entreprise villeE'
    'fonction fonction fonction fonction fonction fonction'
    'mission mission mission mission mission mission';
    padding-bottom: 20px;

}